<!DOCTYPE html>
<html lang="en">
    <h1>
        <centre> Welcome to Nationwide   </centre>
    </h1>

    <a href="#"> About us </a> <br>
    <a href="#"> Services </a> <br>
    <a href="#"> Login </a> <br>

    <pre>
As part of a regulatory requirement, an independent survey was conducted to ask customers of the 16 largest personal current account providers for Great Britain and 11 largest personal current account providers for Northern Ireland if they would recommend their provider to friends and family.
We have published this information at the request of the Competition and Markets Authority so you can compare the overall quality of service from personal current account providers.
We asked customers how likely they would be to recommend their personal current account provider to friends and family.
    </pre>

</html>