<html>

<h1>
    <centre> Exam results </centre>
</h1>

<table style="border:1px solid black">
    <tr>
        <td>Student Name </td>
        <td> <%= sname %> </td>
    </tr>

    <tr>
        <td> Physics </td>
        <td> <%= phy %> </td>
    </tr>

    <tr>
       <td> Chemistry </td>
        <td> <%= chem %> </td>
    </tr>

    <tr>
        <td>Biology </td>
        <td> <%= bio %> </td>
    </tr>

</table>


</html>